<div class="jumbotron">
  <video id="video-background" preload muted autoplay loop>
    <source src="https://img0.etsystatic.com/site-assets/differencemakesus/video/bedside_tables.hp-loop.1.mp4" type="video/mp4">
    <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
  </video>
  <div class="text">
    <h2 class="center">Difference makes us</h1>
    <h4 class="center">Celebrate all that uniqueness.</h2>
  </div>
</div>

<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url, style: "min-height:300px;height:300px;"), listing %>
         <!-- , style: "min-width:350px;width:350px;min-height:400px;height:400px;" -->
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "Sold By: #{listing.user.name}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<br>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
